<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Stock Manage</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body class="h-100vh">
    <main class="container-fluid d-flex container-main" th:fragment="common">
        <div th:replace ="~{fragments/sideMenu :: sideMenu}"></div>

        <div class="section-right">
            <div th:replace ="~{fragments/header :: header}"></div>

            <section class="section-main" layout:fragment="content">

            </section>

            <div th:replace ="~{fragments/footer :: footer}">copyright @ 2022 Demo test</div>
        </div>
    </main>

    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    <div layout:fragment="script-src"></div>
    <script th:inline="javascript" layout:fragment="script"></script>
</body>

</html>