.select-cus {
  .selectize-input {
    border: 0 !important;
    border-radius: 0.375rem !important;
    box-shadow: 2px 2px 5px 0 #a4a4a4 !important;
    background-color: #fff !important;
    background-image: none !important;
  }
}