.h-100vh {
  height: 100vh;
}

.container-main {
  height: 100%;
  padding: 20px;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.mw-50 {
  max-width: 50%;
}